
body {
  background: #dcdcdc;
}

.main {
  display: grid;
  height: 100vh;
  width: auto;
  animation: loading 0.5s linear;
}

img{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  bottom: 20%;
  left: 80%;
  position: absolute;
  
}

@keyframes loading {
  from {
    scale: 0;
    -webkit-transform: scale(0);
  }

  to {
    scale: 1;
    -webkit-transform: scale(1);
  }
}