
body {
  background: #dcdcdc;
}

.main {
  display: grid;
  height: 100vh;
  width: auto;
  animation: loading 0.5s linear;
}

.img1  img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 80%;
  max-width: 300px;
  height: auto;
  bottom: 20%;
  left: 80%;
  position: absolute;
}


.img1 img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.img2  img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 80%;
  max-width: 200px;
  height: auto;
  bottom: 20%;
  left: 70%;
  position: absolute;
}


.img2 img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.img3 img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 180px;
  height: 200px;
  bottom: 40%;
  left: 70%;
  position: absolute;
}

.img3 img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


@keyframes loading {
  from {
    scale: 0;
    -webkit-transform: scale(0);
  }

  to {
    scale: 1;
    -webkit-transform: scale(1);
  }
}