body {
  margin: 0;
  padding: 0;
}
h1 {
  position: absolute;
  top: 10%;
  right: 50%;
  transform: translate(-50%, -50%);
  color: #FB2576;
  font-family: "Source Sans Pro";
  font-size: 4em;
  font-weight: 100;
  -webkit-user-select: none;
  user-select: none;
}

.img1  img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 80%;
  max-width: 300px;
  height: auto;
  bottom: 20%;
  left: 80%;
  position: absolute;
}


.img1 img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.img2  img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 80%;
  max-width: 200px;
  height: auto;
  bottom: 20%;
  left: 70%;
  position: absolute;
}


.img2 img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.img3 img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 180px;
  height: 200px;
  bottom: 40%;
  left: 70%;
  position: absolute;
}

.img3 img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}